---
title: Planning for a death
model:
    nav-mega: ../../components/main-navigation/mega-navigation.json
    breadcrumbs: ../../components/breadcrumbs/breadcrumbs.json
    footer: ../../patterns/footer/footer.json
    link-list: ../../components/link-list/link-list.json

---
{{>_header}}
{{>_main-navigation model.nav-mega}}
<main>
  <article>
    <header class="standard-header">

<div class="standard-header__background">  </div>
    <div class="standard-header__content">
    <div class="nsw-container">
      {{>_breadcrumbs model.breadcrumbs pageTitle=title}}
      <div class="nsw-wysiwyg-content">
      <h1>Planning for a death</h1>
      <div class="deck"><p>This is a guide for people in NSW who are planning for their own death or the death of someone close to them. It provides information about how to make a will, how to plan a funeral and how to organise finances.</p>
</div>




</div>
          </div>
  </div>



</header>


<div class="nsw-container">

<div class="nsw-grid">

  <div class="nsw-col nsw-col--two-thirds">

    <div class="nsw-notification nsw-notification--info">
	  <svg class="nsw-icon nsw-notification__icon" focusable="false" aria-hidden="true">
	    <use xlink:href="#status-info"></use>
	  </svg>
	  <div class="nsw-notification__content">
	    <h4 class="nsw-notification__title">This is standard accordion.</h4>
	    <p>Below is an example standard (plain) accordion looks in New Design System.</p>
	  </div>
	</div>

  <div class="nsw-accordion js-accordion plain-accordion">
	  <h2 class="nsw-accordion__title">Accordion title 1</h2>
	  <div class="nsw-accordion__content">


	    <p>Accordion content 1</p>
<div class="nsw-accordion js-accordion">
	  <h2 class="nsw-accordion__title">Accordion title 1</h2>
	  <div class="nsw-accordion__content">
	    <p>Accordion content 1</p>
	  </div>
	  <h2 class="nsw-accordion__title">Accordion title 2</h2>
	  <div class="nsw-accordion__content">
	    <p>Accordion content 2</p>
	  </div>
    </div>

	  </div>
	  <h2 class="nsw-accordion__title">Accordion title 2</h2>
	  <div class="nsw-accordion__content">
	    <p>Accordion content 2</p>
	  </div>
    <h2 class="nsw-accordion__title">Accordion title 3</h2>
	  <div class="nsw-accordion__content">
	    <p>Accordion content 3</p>
	  </div>
    <h2 class="nsw-accordion__title">Accordion title 4</h2>
	  <div class="nsw-accordion__content">
	    <p>Accordion content 4</p>
	  </div>
    <h2 class="nsw-accordion__title">Accordion title 5</h2>
	  <div class="nsw-accordion__content">
	    <p>Accordion content 5</p>
	  </div>
    <h2 class="nsw-accordion__title">Accordion title 6</h2>
	  <div class="nsw-accordion__content">
	    <p>Accordion content 6</p>
	  </div>
	</div>

  <ul class="nsw-socials">
      <li class="nsw-socials__item">
        <a class="nsw-socials__link js-share-this" href="https://facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.service.nsw.gov.au" target="_blank" rel="noopener">
          <svg class="nsw-icon nsw-socials__icon" focusable="false" aria-hidden="true">
            <use xlink:href="#facebook"></use>
          </svg>
          <span class="sr-only">Facebook</span>
        </a>
      </li>
      <li class="nsw-socials__item">
        <a class="nsw-socials__link js-share-this" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A%2F%2Fwww.service.nsw.gov.au" target="_blank" rel="noopener">
          <svg class="nsw-icon nsw-socials__icon" focusable="false" aria-hidden="true">
            <use xlink:href="#linkedin"></use>
          </svg>
          <span class="sr-only">LinkedIn</span>
        </a>
      </li>
      <li class="nsw-socials__item">
        <a class="nsw-socials__link js-share-this" href="https://twitter.com/intent/tweet/?url=https%3A%2F%2Fwww.service.nsw.gov.au" target="_blank" rel="noopener">
          <svg class="nsw-icon nsw-socials__icon" focusable="false" aria-hidden="true">
            <use xlink:href="#twitter"></use>
          </svg>
          <span class="sr-only">Twitter</span>
        </a>
      </li>
      <li class="nsw-socials__item">
        <a class="nsw-socials__link " href="mailto:?body=https%3A%2F%2Fwww.service.nsw.gov.au" target="_self" rel="noopener">
          <svg class="nsw-icon nsw-socials__icon" focusable="false" aria-hidden="true">
            <use xlink:href="#email"></use>
          </svg>
          <span class="sr-only">Email</span>
        </a>
      </li>
    </ul>




        </div>
        <div class="nsw-col nsw-col--third">
          <div class="nsw-link-list page-navigation">
      <ul class="nsw-link-list__list">
            <li class="nsw-link-list__item">
              <a class="nsw-link-list__link" href="../end-of-life/">After a death
                <svg class="nsw-icon nsw-link-list__icon" focusable="false" aria-hidden="true">
              <use xlink:href="#arrow"></use>
            </svg>
              </a>
            </li>
            <li class="nsw-link-list__item  is-selected">
              <a class="nsw-link-list__link" href="../planning-for-a-death/">Planning for a death
                <svg class="nsw-icon nsw-link-list__icon" focusable="false" aria-hidden="true">
              <use xlink:href="#arrow"></use>
            </svg>
              </a>
            </li>
            <li class="nsw-link-list__item">
              <a class="nsw-link-list__link" href="#">Acting as an executor
                <svg class="nsw-icon nsw-link-list__icon" focusable="false" aria-hidden="true">
              <use xlink:href="#arrow"></use>
            </svg>
              </a>
            </li>
            <li class="nsw-link-list__item">
              <a class="nsw-link-list__link" href="#">If you have a life limiting illness
                <svg class="nsw-icon nsw-link-list__icon" focusable="false" aria-hidden="true">
              <use xlink:href="#arrow"></use>
            </svg>
              </a>
            </li>
      </ul>
    </div>
        </div>

      </div>




</div>

</article>
</main>


{{>_footer model.footer}}

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.12.1/css/all.css" integrity="sha384-TxKWSXbsweFt0o2WqfkfJRRNVaPdzXJ/YLqgStggBVRREXkwU7OKz+xXtqOU4u8+" crossorigin="anonymous">
